
@media (max-width: 1000px){
    main{
        flex-direction: column;
    }

    #filtro{
        width: 100%;
    }

    #filtro > #checkout{
        flex-direction: row;
        justify-content: center;
    }

    #filtro > #checkout >.categorias{
                
    }

   #filtro > #checkout > .button{
    display: none   ;
   }
}